.footer {
  background-color: #001529;
  color: white;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
